body {
    background: #f8f9fa;
}
.main-container {
    padding-top: 120px;
    padding-bottom: 150px;
}

/*Menu Dropdonw ===============================================*/
.menuDropdown>.btn {
    color: #FFF;
}
.menuDropdown>.dropdown-toggle::after {
    display: none;
}
.menuDropdown>.dropdown-menu {
    left: auto;
    right: 0;
}

/*Status Bar ===============================================*/
.statusBar {
    position: fixed;
    top: 55px;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    padding: 2px 1rem 8px 1rem;
    z-index: 900;
}
.statusBar .circle{
    border: 2px solid #FFF;
    background: #e9ecef;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.statusBar .bar{
    position: relative;
    border: 2px solid #FFF;
    background: #999;
    height: 26px;
    margin-top: 7px;
    z-index: 19;
    margin-left: -5px;
    border-left: none;
}
.statusBar .bar>.progress{
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    height: 100%;
}
.statusBar .bar>.progress>.progress-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.45rem;
}
.statusBar .popover {
    top: 20px;
}
.statusBar .popover>.arrow {
    right: 0;
}
.statusBar .popover.bg-danger>.arrow:after {
    border-bottom-color: #dc3545;
}
.statusBar .popover.bg-success>.arrow:after {
    border-bottom-color: #28a745;
}
.statusBar .popover>.popover-body {
    padding: 2px 10px;
}

/*Page Switcher ===============================================*/
.pageSwitcher {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 900;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.3);
    border: none;
}
.pageSwitcher>a{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #f8f9fa;
    border: none !important;
}
.pageSwitcher>a:hover {
    border: none;
}
.pageSwitcher>a.active {
    border: none;
    color: #ffc107 !important;
    background: none !important;
}

/*Tables ===============================================*/
.table-sticky {
    position: sticky;
    left: 0px;
}
.table.align-middle th,
.table.align-middle td {
    vertical-align: middle;
}

/*CARD ===============================================*/
@media (max-width: 575.98px) {
    .card-columns {

    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-columns {
        column-count: 1;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}
.card-columns>.card {
    border: none;
    background: none;
}


/*FAB ===============================================*/
.btn.fab {
    position: fixed;
    bottom: 80px;
    right: 16px;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    font-size: 1.2em;
    z-index: 1030;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

/*Box with switch ===============================================*/
.switch-box {
    display: flex;
    align-items: center;
}
.switch-box > h6 {
    flex: 1 1 auto;
    overflow: hidden;
    margin: 0;
}
.switch {
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    flex: 0 0 2.8em;
    height: 1.5rem;
    margin-left: 5px;
}
.switch::before {
    position: absolute;
    display: block;
    width: 2.8rem;
    height: 1.5rem;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    pointer-events: all;
    border-radius: 1.5rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.switch::after {
    position: absolute;
    display: block;
    content: "";
    background: no-repeat 50%/50% 50% #adb5bd;
    top: 3px;
    left: 3px;
    width: calc(1.5rem - 6px);
    height: calc(1.5rem - 6px);
    border-radius: 1.5rem;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
}
.switch.checked::before {
    color: #fff;
    border-color: #28a745;
    background-color: #28a745;
}
.switch.checked::after {
    background-color: #fff;
    -webkit-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
}

/*MISC ===============================================*/
.form-control,
.custom-select,
.input-group-text{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #28a745;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-bottom: 0;
}
.form-control{
    padding: 0;
}
.custom-select{
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}
.input-group-text {
    background: none;
    font-size: 0.7rem;
    padding: 0.3rem 0 0 0;
    color: #28a745;
}

.w-70-px {
    width: 70px !important;
    flex: 0 0 70px !important;
}
.w-50-px {
    width: 50px !important;
    flex: 0 0 50px !important;
}
.w-40-px {
    width: 40px !important;
    flex: 0 0 40px !important;
}
.w-30-px{
    width: 30px !important;
    flex: 0 0 30px !important;
}
.buffBadge {
    font-size: 1.6rem;
}
.btn:focus {
    box-shadow: none !important;
}