body {
    background: #f8f9fa;
}

.btn:focus {
    box-shadow: none !important;
}

.menuDropdown>.btn {
    color: #FFF;
}
.menuDropdown>.dropdown-toggle::after {
    display: none;
}
.menuDropdown>.dropdown-menu {
    left: auto;
    right: 0;


}

.pageSwitcher {
    position: fixed;
    top: 55px;
    right: 0;
    left: 0;
    z-index: 900;
    border: none;
}
.pageSwitcher>a:hover {
    border-color: transparent !important;
}
.pageSwitcher>a.active {
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.pageSwitcher>a:not(.active) {
    color: #FFF;
}

.main-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.input-w-sm {
    width: 70px;
    display: inline-block;
}

.table-sticky {
    position: sticky;
    left: 0px;
}
.table.align-middle th,
.table.align-middle td {
    vertical-align: middle;
}


.btn.fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    font-size: 1.2em;
    z-index: 1030;
}

.col-flex {
    display: flex;
}
.col-flex>* {
    height: 38px;
}
.col-flex>*:not(:first-child) {
    margin-left: 4px;
}
.col-flex>select {
    flex: 1 1 auto;
}

.switch-box {
    display: flex;
    align-items: center;
}
.switch-box > h6 {
    flex: 1 1 auto;
    overflow: auto;
    margin: 0;
}
.switch {
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    flex: 0 0 3em;
    height: 1.7rem;
    margin-left: 5px;
}
.switch::before {
    position: absolute;
    display: block;
    width: 3rem;
    height: 1.7rem;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    pointer-events: all;
    border-radius: 1.5rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.switch::after {
    position: absolute;
    display: block;
    content: "";
    background: no-repeat 50%/50% 50% #adb5bd;
    top: 2px;
    left: 2px;
    width: calc(1.7rem - 4px);
    height: calc(1.7rem - 4px);
    border-radius: 1.5rem;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
}


.switch.checked::before {
    color: #fff;
    border-color: #28a745;
    background-color: #28a745;
}
.switch.checked::after {
    background-color: #fff;
    -webkit-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
}