<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.pathfinder.combat_tool"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Pathfinder CT</name>

    <description>
        Combat tools for Pathfinder Monks/Ninja
    </description>

    <author href="http://www.nextit.be/" email="info@nextit.be">
        Next IT
    </author>

    <content src="index.html" />

    <platform name="android">
        <preference name="Orientation" value="portrait" />

        <icon src="res/icon/android/ldpi.png" density="ldpi" />
        <icon src="res/icon/android/mdpi.png" density="mdpi" />
        <icon src="res/icon/android/hdpi.png" density="hdpi" />
        <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />

        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
    </platform>

</widget>