<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pathfinder Combat Tool</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="combat-tool">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pathfinder Combat Tool</a>

        <div class="dropdown menuDropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!--<a class="dropdown-item" href="#" @click="load()"><i class="fa fa-folder-open"></i> Load</a>-->
                <!--<a class="dropdown-item" href="#" @click="save()"><i class="fa fa-save"></i> Save</a>-->
                <a class="dropdown-item" href="#" @click="removeSave()"><i class="fa fa-trash"></i> Delete all Saves</a>
            </div>
        </div>
    </nav>
    <nav class="nav nav-tabs nav-fill pageSwitcher bg-dark fixed">
        <a class="nav-item nav-link" :class="{active: activePage=='buffs'}" @click="activePage='buffs'" href="#">Buffs</a>
        <a class="nav-item nav-link" :class="{active: activePage=='dps'}" @click="activePage='dps'" href="#">DPS</a>
        <a class="nav-item nav-link" :class="{active: activePage=='hit'}" @click="activePage='hit'" href="#">Hit rate</a>
        <a class="nav-item nav-link" :class="{active: activePage=='settings'}" @click="activePage='settings'" href="#">Settings</a>
    </nav>
    <div class="container-fluid main-container">
        <div :class="{'d-none': activePage!='buffs'}">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <h5 class="text-muted">Character sheet</h5>
                    <stat :stat="stats.hp"></stat>
                    <stat :stat="stats.ki"></stat>
                    <stat :stat="stats.stunning_fist"></stat>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h5 class="text-muted mt-3 mt-lg-0">Buffs</h5>
                    <buff :stat="buffs.barkskin"></buff>
                    <buff :stat="buffs.elemental_fury"></buff>
                    <buff :stat="buffs.shadow_clone"></buff>
                    <buff :stat="buffs.vanishing_trick"></buff>
                    <buff :stat="buffs.diamond_soul"></buff>
                    <buff :stat="buffs.ft_pressure_point"></buff>
                    <buff :stat="buffs.ft_bleeding_attack"></buff>
                    <buff :stat="buffs.ft_weapon_focus"></buff>

                    <h5 class="text-muted mt-3">Forgotten tricks</h5>
                    <buff :stat="buffs.ft_shadow_clone"></buff>
                    <buff :stat="buffs.ft_vanishing_trick"></buff>
                </div>
            </div>

            <button type="button" class="btn btn-warning fab" @click="nextTurn"><i class="fa fa-step-forward"></i></button>
        </div>

        <div :class="{'d-none': activePage!='hit'}">
            <hit-rate-table :bab="attacks[0].bab" :crit="stats.crit.max"></hit-rate-table>
        </div>

        <div :class="{'d-none': activePage!='dps'}">
            <stat-setting :stat="stats.target_ac"></stat-setting>
            <stat-setting :stat="stats.tmp_bonus_bab"></stat-setting>
            <stat-setting :stat="stats.tmp_bonus_damage"></stat-setting>

            <div class="row">
                <div class="col-6">
                    <toggle :toggle="toggles.stunned"></toggle>
                    <toggle :toggle="toggles.flanking"></toggle>
                    <toggle :toggle="toggles.large_size"></toggle>
                </div>
                <div class="col-6">
                    <toggle :toggle="toggles.power_attack"></toggle>
                    <toggle :toggle="toggles.ki_extra_attack"></toggle>
                    <toggle :toggle="toggles.elbow_smash"></toggle>
                </div>
            </div>

            <div class="card mb-1">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-6">
                            <b>BAB {{attacks[0].bab}}</b><br/>
                            <small class="text-muted">{{ total_bab_string }}</small>
                        </div>
                        <div class="col-6 text-right">
                            <b>{{ base_damage_string }}</b><br/>
                            <small class="text-muted">{{ total_damage_string }}</small>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-borderless table-sm text-center">
                            <tbody>
                            <tr>
                                <td v-for="atk in attacks">+{{ atk.bab }}</td>
                            </tr>
                            <tr>
                                <td v-for="atk in attacks" :class="{'text-danger': atk.hit<50, 'text-warning': atk.hit>=50 && atk.hit<80, 'text-success': atk.hit>=80}">{{ Math.round(atk.hit) }}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div v-show="damage.bonus_target_ac">
                        <b>Target AC modifier</b>
                        <b class="pull-right">{{ damage.bonus_target_ac }}</b>
                    </div>
                    <div v-show="damage.ignore_dex_ac">
                        <b>Ignore Target DEX bonus AC</b>
                    </div>
                </div>
            </div>

            <div class="card mb-1">
                <div class="card-body py-2">
                    <div class="table-responsive">
                        <table class="table table-borderless align-middle mb-0">
                            <tbody>
                            <tr>
                                <td>Base</td>
                                <td class="text-muted">{{ base_damage_string }}</td>
                                <td class="text-right"><input type="number" class="form-control text-center input-w-sm" v-model="self_input.base"></td>
                            </tr>
                            <tr v-show="buffs.elemental_fury.current > 0">
                                <td>Elemental fury</td>
                                <td class="text-muted">1d6</td>
                                <td class="text-right"><input type="number" class="form-control text-center input-w-sm" v-model="self_input.elemental_fury"></td>
                            </tr>
                            <tr v-show="damage.ignore_dex_ac || this.toggles.flanking.active">
                                <td>Sneak attack</td>
                                <td class="text-muted">{{ stats.sneak_attack_d6.max }}d6</td>
                                <td class="text-right"><input type="number" class="form-control text-center input-w-sm" v-model="self_input.sneak_attack"></td>
                            </tr>
                            <tr v-show="toggles.elbow_smash.active">
                                <td>Elbow Smash</td>
                                <td class="text-muted">{{ base_damage_string }}&nbsp;&nbsp;&nbsp; @+{{ attacks[0].bab - 5}}</td>
                                <td class="text-right"><input type="number" class="form-control text-center input-w-sm" v-model="self_input.elbow_smash"></td>
                            </tr>
                            <tr v-show="toggles.jabbing_style.active">
                                <td>Jabbing</td>
                                <td class="text-muted">
                                    <span v-show="!toggles.jabbing_master.active">1d6</span>
                                    <span v-show="toggles.jabbing_master.active">2d6 / 4d6</span>
                                </td>
                                <td class="text-right"><input type="number" class="form-control text-center input-w-sm" v-model="self_input.jabbing"></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th class="text-center  ">{{ self_input_total }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-warning fab" @click="resetDPS"><i class="fa fa-refresh"></i></button>
        </div>

        <div :class="{'d-none': activePage!='settings'}">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <h5 class="text-muted">Character Stats Max</h5>
                    <stat-setting :stat="stats.level"></stat-setting>
                    <stat-setting :stat="stats.hp"></stat-setting>
                    <stat-setting :stat="stats.ki"></stat-setting>
                    <stat-setting :stat="stats.bonus_bab"></stat-setting>
                    <stat-setting :stat="stats.bonus_damage"></stat-setting>
                    <stat-setting :stat="stats.crit"></stat-setting>
                    <stat-setting :stat="stats.sneak_attack_d6"></stat-setting>

                    <div class="row">
                        <div class="col-6">
                            <toggle :toggle="toggles.jabbing_style"></toggle>
                            <toggle :toggle="toggles.jabbing_master"></toggle>
                        </div>
                        <div class="col-6">
                            <toggle :toggle="toggles.medusa_wrath"></toggle>
                            <toggle :toggle="toggles.dispatchment"></toggle>
                            <toggle :toggle="toggles.monk_robe"></toggle>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <h5 class="text-muted mt-3 mt-lg-0">Buffs & Skills</h5>
                    <stat-setting :stat="stats.stunning_fist" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                    <stat-setting :stat="buffs.barkskin" :lvl="stats.level.max" :lvl_mult="80"></stat-setting>
                    <stat-setting :stat="buffs.elemental_fury" :lvl="stats.level.max" :lvl_mult="0.5"></stat-setting>
                    <stat-setting :stat="buffs.shadow_clone" :lvl="stats.level.max" :lvl_mult="10"></stat-setting>
                    <stat-setting :stat="buffs.vanishing_trick" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                    <stat-setting :stat="buffs.diamond_soul" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>

                    <h5 class="text-muted mt-3">Forgotten tricks</h5>
                    <stat-setting :stat="buffs.ft_shadow_clone" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                    <stat-setting :stat="buffs.ft_vanishing_trick" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                    <stat-setting :stat="buffs.ft_pressure_point" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                    <stat-setting :stat="buffs.ft_bleeding_attack" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                    <stat-setting :stat="buffs.ft_weapon_focus" :lvl="stats.level.max" :lvl_mult="1"></stat-setting>
                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="js/combat-tool.js"></script>
</body>
</html>